h1 API Demo

button.btn.btn-primary.btn-lg(ng-click='getSynthModules()') Get All Synth Modules
button.btn.btn-primary.btn-lg(ng-click='postSynthModule()') Post Synth Module

hr

button.btn.btn-primary.btn-lg(ng-click='getComponents()') Get All Components
button.btn.btn-primary.btn-lg(ng-click='postComponent()') Post Component
